{% extends 'admin.html.twig' %}

{% block title %}Modication ulisateur{% endblock %}

{% block body %}
    <style>
        #edit_users_roles_1,  #edit_users_roles_2 {
            margin-left: 10px;
        }
    </style>
    <div class="separator" style="margin-top: 100px;"></div>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <fieldset class="w3-white w3-card-2 w3-margin"><legend class="w3-green w3-padding-small">Motifier l'utilisateur</legend>
    {{ form_start(form) }}
    <div class="w3-row-padding">
        <div class="w3-half">
            {{ form_label(form.civility, 'Civilité') }}
            {{ form_widget(form.civility, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.civility) }}
        </div>
        <div class="w3-half">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-half">
            {{ form_label(form.lastname, 'Nom') }}
            {{ form_widget(form.lastname, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div class="w3-half">
            {{ form_label(form.firstname, 'Prénom') }}
            {{ form_widget(form.firstname, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.firstname) }}
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-half">
            {{ form_label(form.address, 'Adresse') }}
            {{ form_widget(form.address, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.address) }}
        </div>
        <div class="w3-half">
            {{ form_label(form.address_complement, 'Complément adresse') }}
            {{ form_widget(form.address_complement, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.address_complement) }}
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-third">
            {{ form_label(form.postal_code, 'Code postal') }}
            {{ form_widget(form.postal_code, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.postal_code) }}
        </div>
        <div class="w3-third">
            {{ form_label(form.city, 'Ville') }}
            {{ form_widget(form.city, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.city) }}
        </div>
        <div class="w3-third">
            {{ form_label(form.phone_mobile, 'Téléphone') }}
            {{ form_widget(form.phone_mobile, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
            {{ form_errors(form.phone_mobile) }}
        </div>
    </div>
    <div class="w3-padding">
        <fieldset><legend class="w3-gray">{{ form_label(form.roles, 'Rôles') }}</legend>
            {{ form_widget(form.roles) }}
            {{ form_errors(form.roles) }}
        </fieldset>
    </div>
    <p class="w3-padding">
        <span style="color: #ff0000; font-weight: bold">*</span> Champs obligatoires.
    </p>
        <a href="{{ path('admin_liste_users') }}" class="w3-margin-top"><i class="fa fa-mail-reply" style="font-size:30px;color:red"></i></a>
    <button type="submit" class="w3-btn w3-blue w3-round-large">Valider</button>
    {{ form_end(form) }}
</fieldset>
{% endblock %}
