<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Madrassa{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="{{ asset('css/library/w3.css') }}">
          {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href= "{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href= "{{ asset('css/sidenav.css') }}">
    </head>
    <body>
        {% include 'partial/sidenav.html.twig' %}
        <div id="main" class="w3-bar w3-border w3-black">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <div class="w3-dropdown-hover w3-right">
                    <button class="w3-button w3-green">{{ app.user.firstname }} {{ app.user.lastname }}</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                        <a href="{{ path('users_profile') }}" class="w3-bar-item w3-button">Mon profil</a>
                        <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">Se déconnecter</a>
                    </div>
                </div>
                {% else %}
                    <span style="float:right;"><a href="{{ path('app_login') }}">Se Connecter</a></span>
            {% endif %}

        </div>
        <div id="body" class="w3-container">
           {% block body %}{% endblock %}
         </div>
        {% block javascripts %}
            <script>
                  function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("body").style.marginLeft = "250px";
                  }

                  function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("body").style.marginLeft= "0";
                  }
            </script>
        {% endblock %}
    </body>
</html>
