<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur Madrassa{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/library/w3.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {% endblock %}
    <link rel="stylesheet" href= "{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href= "{{ asset('css/sidenav.css') }}">
</head>